<h2><%= @entry.title %></h2>
  <p><%= @entry.date %></p>
  <p><%= @entry.contents %></p>
<p>
  <%= link_to("back to all entreies", entries_path) %>
</p>
<p>
  <%= link_to("new diary entry", new_entry_path) %>
</p>
<!-- #click the link add the missing action and view  -->
<p>
  <%= link_to("edit this entry", edit_entry_path) %>
</p>
